body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin:0;
}

 *{
    border-style: solid;
    border-color: red;
    box-sizing: border-box;
    padding: 10px

 }

 .content{
    flex: 1;
    display: flex;
 }


 .models, .cats, .about-me{
    flex: 1;
display: flex;
flex-direction: column;
 }
.model-pics{
;
}


 .footer{
    display: flex;
    justify-content: center;
    margin: 0;
 }