body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin:0;
    background-color: #13005A;
}

 *{
    /* border-style: solid;
    border-color: red;
    box-sizing: border-box;
      padding: 10px   */

 }

 .content{
    flex: 1;
    display: flex;
 }

 .title{
    display: flex;
    justify-content: center;
 }

 .models, .cats, .about-me{
    flex: 1;
display: flex;
flex-direction: column;
justify-content:space-around;
align-items: center;
 }

.about-me{
    justify-content: start;
    background-color: #1C82AD;
}

img{
    width: 250px;
    border-radius: 10px;
}

.cat-pic, .model-pic{
    display: flex;
  padding: 10%;
  background-color:#00337C;
    


 }



 .footer{
    display: flex;
    justify-content: center;
    margin: 0;
 }


