body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin:0;
}

 *{
    border-style: solid;
    border-color: red;
   
 }

 .content{
    flex: 1;
    display: flex;
 }

 .footer{
    display: flex;
    justify-content: center;
    margin: 0;
 }

 .models, .cats, .about-me{
    flex: 1;

 }